{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin"
	],
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"brace-style": "off",
		"@typescript-eslint/brace-style": [
			"error"
		],
		"@typescript-eslint/member-naming": [
			"warn",
			{
				"private": "^__",
				"protected": "^_"
			}
		],
		"@typescript-eslint/member-delimiter-style": [
			"warn",
			{
				"multiline": {
					"delimiter": "none",
					"requireLast": false
				},
				"singleline": {
					"delimiter": "comma"
				}
			}
		],
		"@typescript-eslint/interface-name-prefix": [
			"warn",
			{
				"prefixWithI": "always",
				"allowUnderscorePrefix": true
			}
		],
		"@typescript-eslint/no-empty-interface": [
			"warn",
			{
				"allowSingleExtends": true
			}
		],
		"@typescript-eslint/explicit-function-return-type": "off",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"vars": "local",
				"args": "all"
			}
		],
		"quotes": "off",
		"@typescript-eslint/quotes": [
			"error",
			"backtick"
		],
		"semi": "off",
		"@typescript-eslint/semi": [
			"error",
			"never"
		],
		"comma-dangle": [
			"error",
			"never"
		],
		"no-extra-parens": [
			"error",
			"all"
		],
		"curly": [
			"error",
			"multi-or-nest"
		],
		"dot-location": [
			"error",
			"property"
		],
		"eqeqeq": [
			"error",
			"always"
		],
		"no-extra-bind": "error",
		"no-multi-spaces": "error",
		"yoda": [
			"error",
			"never"
		],
		"block-spacing": "error",
		"func-call-spacing": [
			"error",
			"never"
		],
		"jsx-quotes": [
			"error",
			"prefer-single"
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1,
				"maxEOF": 1
			}
		],
		"no-trailing-spaces": "warn",
		"no-unneeded-ternary": "error",
		"spaced-comment": [
			"error",
			"always"
		],
		"constructor-super": "error",
		"no-var": "error",
		"object-shorthand": "error",
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	}
}