<div class="form-group row">
	<label for="{{KEY}}-{{NUMBER}}" class="col-sm-4 col-form-label">{{KEYNAME}}</label>
	<div class="col-sm-8">
		<div class="input-group">
			{{FIELD}}
			<div class="input-group-btn" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input type="checkbox" id="{{KEY}}-{{NUMBER}}-enable" class="code-check" data-field-id="#{{KEY}}-{{NUMBER}}" data-address="{{ADDRESS}}"
					 autocomplete="off"> Enable Code
				</label>
			</div>
		</div>
	</div>
</div>