<div class="tab-pane fade show active" id="v-pills-slot-1" role="tabpanel" aria-labelledby="v-pills-slot-1-tab">
	<div class="form-group">
		<label for="Portrait-1">Portrait</label>
		<div class="input-group">
			<div class="input-group-addon">8202BD50</div>
			<input type="text" class="form-control" id="Portrait-1">
		</div>
	</div>
</div>
<div class="tab-pane fade " id="v-pills-slot-1" role="tabpanel" aria-labelledby="v-pills-slot-1-tab">
	<div class="form-group">
		<label for="Class-1">Class</label>
		<div class="input-group">
			<div class="input-group-addon">8202BD54</div>
			<input type="text" class="form-control" id="Class-1">
		</div>
	</div>
</div>