*{
	font-family: 'Cutive Mono', serif;
	font-weight: bold !important;
	/* font-family: 'Noto Sans', sans-serif; */
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: 'Cutive Mono', serif;
	font-weight: bold;
}

h5.form-header {
	border-bottom: 1px solid #ccc;
}

.main-body {
	padding-top: 3rem;
}

#v-pills-tabContent {
	border-left: 1px solid #ccc;
}